{% extends 'nutrition/base_nutrition.html' %}
{% block nutrition_title %}Confirm Delete: {{ recipe.name }}{% endblock %}
{% block nutrition_page_title %}Confirm Delete: {{ recipe.name }}{% endblock %}
{% block nutrition_content %}
    <p>Are you sure you want to delete the recipe "{{ recipe.name }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class='btn btn-danger'>Yes, delete</button>
        <a href="{% url 'nutrition:recipe_detail' recipe.id %}" class='btn'>Cancel</a>
    </form>
{% endblock %}
